.wp-block-cover {

    &#hero {
        background-color: var(--wp--preset--color--primary-100);
        align-items: flex-start;

        .wp-block-cover__inner-container {
            min-height: 70vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            > * {
                width: 100%;
            }
        }
    }
    
    &.is-style-cover-contain-background { 
        .wp-block-cover__image-background {
            object-fit: contain;
        }
    }

    img[src*=".svg"] {
        filter: brightness(0) invert(1);
    }
}