@use '../abstracts/mixins' as *;

.mega-menu-tabbed {

    @media($above-mobile) {

        > .mega-sub-menu > .mega-menu-item:first-child {
            margin-top: 3rem !important;
        }

    }

}

#mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 img {
    height: auto;
}

.megamenu-consulta-expertos {
    aspect-ratio: 3/2;
    flex-direction: column;
    justify-content: space-between;
}

body { 

    &:before {
        transition: all 0.3s ease-in-out;
    }

    @media ( $above-mobile ) {

        // &.filter-open,
        &.menu-open {

            #masthead {
                background-color: var(--wp--preset--color--neutral-white);
            }

            &:before {
                content: "";
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 1;
            }

        }

    }

}

@media ( $below-mobile ) {

    #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-item {
        margin-top: .5em;
    }

    #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item {
        margin-bottom: 1em;
    }

    body {

        &.filter-open {

            #filtro-col {
                z-index: 99999999 !important;

                &:before {
                    content: "";
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }

            #masthead {
                z-index: 0 !important;
            }

        }
    }

}

@media ($above-mobile) {

    #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item.mega-menu-item-has-children > a.mega-menu-link > .mega-indicator:after {
        content: url('./assets/icons/icon-arrow-btn.svg');
    }

} 

ul.mega-sub-menu {
    box-shadow: none !important
}