@use '../abstracts/mixins' as *;

.wp-block-query {
    .wp-block-post {
        a {
            text-decoration: none;
            overflow: hidden;
            
            img.wp-post-image {    
                transition: transform 1s ease-in-out;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }

        .card-blog {
            position: relative;

            .taxonomy-category.wp-block-post-terms {
                position: absolute;
                top: 1rem;
                left: 1rem;
                padding: .25rem 0.5rem;
                border-radius: var(--wp--custom--border-radius--rounded);
                z-index: 1;
                background-color: var(--wp--preset--color--primary);

                
            }
        }

        .wp-block-post-excerpt__more-text {
            display: flex;
            margin-top: var(--wp--preset--spacing--20);
            
        }
    }
}


.wp-block-categories-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    
    li.cat-item {
        a {
            text-decoration: none;
            background-color: inherit;
            border-radius: var(--wp--custom--border-radius--rounded);
            color: var(--wp--preset--color--neutral-white);
            padding: calc(0.5rem + 0px) 2rem;
            transition: all 0.2s ease-in-out;
            display: flex;
            height: 2.5rem;

            &:hover {
                background-color: var(--wp--preset--color--terciary-50);
                color: var(--wp--preset--color--neutral-white);
            }
        }
    }
}


.category-articulos .taxonomy-category.wp-block-post-terms,
.cat-item-8 a {
    background-color: var(--wp--preset--color--primary-90) !important;
}

.category-consejos .taxonomy-category.wp-block-post-terms,
.cat-item-7 a {
    background-color: var(--wp--preset--color--primary-70) !important;
}

.cat-item-1 a {
    background-color: var(--wp--preset--color--primary) !important;
}

.category-tendencias  .taxonomy-category.wp-block-post-terms,
.cat-item-6 a {
    background-color: var(--wp--preset--color--primary-30) !important;
}

.grid-productos {
    padding-left: var(--wp--style--root--padding-left) !important;
    gap: var(--wp--custom--layout--padding) !important;
}


.grid-productos .cortina-item {
    flex: 0 0 auto;
    width: 344px;
    scroll-snap-align: center;
    overflow: hidden;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;

    .cortina-item__image {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 2/2.5;
        }
    }

    .cortina-item__content {
        display: flex;
        gap: var(--wp--custom--layout--padding);
        padding: var(--wp--preset--spacing--20) 0;
        align-items: center;

        a {
            text-decoration: none;
            font-weight: 700;
            color: var(--wp--preset--color--foreground);
        }
    }
}

/* Ajustar altura de pares */
.grid-productos > div:nth-child(even) {
    transition: all 0.3s ease-in-out;
    
    @media ($above-mobile) {
        height: 320px;
        width: 260px;

        &:hover {
            width: 360px;
            height: 512px;
        }
    }
  
}

.is-style-is-related-posts .taxonomy-category.has-heading-4-font-size > a {
    color: initial;
    text-decoration: none;
}