@use '../abstracts/mixins' as *;

.acf-block-products-grid {
    margin-top: 0;
    margin-bottom: 0;
}

.products-grid-wrapper {
    @media ($above-mobile) {
        display: flex;

        .products-grid-sidebar {
            flex: 0 0 300px;
            border-right: 1px solid var(--wp--preset--color--neutral-60);

            .facet-label {
                margin-left: -1rem;
                margin-right: -1rem;
                padding: 1rem;
                border-top: 1px solid var(--wp--preset--color--neutral-40);
                border-bottom: 1px solid var(--wp--preset--color--neutral-40);
            }
        }

        .products-grid {
            flex: 1;
        }
    }

    .woocommerce-loop-product__link {
        color: var(--wp--preset--color--foreground);
    }

    .products-grid-sidebar {
        padding: 1rem;

        @media ($below-mobile) {
            display: none;
        }

    }

    .products-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
        
        @media ($above-mobile) {
            grid-template-columns: 1fr 1fr;
        }

        @media ($above-desktop) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        &:before {
            content: none !important;
        }

        li.product {
            width: 100% !important;
            margin: 0 !important;
            background-color: var(--wp--preset--color--neutral-20);
            border: 1px solid var(--wp--preset--color--neutral-60);
            margin-left: -1px;
            margin-bottom: -1px;

        }

    }

    .product-title-wrapper {
        padding: var(--wp--preset--spacing--30);
    }
    .product-title-group {
        border-bottom: 1px solid;
        margin-bottom: 1em;
        flex-wrap: nowrap;

        .woocommerce-loop-product__title {
            padding-top: 0;
            text-transform: uppercase;
            font-size: var(--wp--preset--font-size--heading-5);
        }
    }

}

.products-grid-filter-bar {
    padding: var(--wp--preset--spacing--20);
    background-color: var(--wp--preset--color--primary-90);
    color: var(--wp--preset--color--neutral-10);

    .facetwp-facet {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}