p {
    margin-bottom: 1.5rem;
}

.wp-block-post-title a {
	text-decoration: none;
	color: var(--wp--preset--color--secondary);
}

[class*="has-heading-"][class*="-font-size"] {
    line-height: var(--wp--custom--line-height--heading);
    font-family: var(--wp--preset--font-family--font-heading);
}

.rank-math-breadcrumb {

    a {
        color: var(--wp--preset--color--neutral-70);
    }
}

.before-variations-text {
    font-size: var(--wp--preset--font-size--small);
    color: var(--wp--preset--color--neutral-70);
}