<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--80)"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":1,"fontSize":"body","fontFamily":"font-main"} -->
<h1 class="wp-block-heading has-font-main-font-family has-body-font-size"><strong>EROR 404</strong></h1>
<!-- /wp:heading -->

<!-- wp:heading {"fontSize":"display"} -->
<h2 class="wp-block-heading has-display-font-size">Ups! Página no encontrada</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"subtitle"} -->
<p class="has-subtitle-font-size">No hemos encontrado lo que buscas.<br>Por favor prueba a hacer nueva búsqueda o pincha para volver a la tienda.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"textColor":"foreground","className":"is-style-with-arrow","style":{"elements":{"link":{"color":{"text":"var:preset|color|foreground"}}}}} -->
<div class="wp-block-button is-style-with-arrow"><a class="wp-block-button__link has-foreground-color has-text-color has-link-color wp-element-button" href="https://ayrtac.sumun.dev/">Volver a la tienda</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->