<!-- wp:template-part {"slug":"header","tagName":"Header","className":"masthead"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"style":{"spacing":{"margin":{"top":"0"}}}} -->
<main class="wp-block-group" style="margin-top:0"><!-- wp:group {"metadata":{"name":"Hero"},"style":{"spacing":{"padding":{"top":"12rem"}}},"backgroundColor":"neutral-30","layout":{"type":"constrained"}} -->
    <div class="wp-block-group has-neutral-30-background-color has-background" style="padding-top:12rem"><!-- wp:post-title {"level":1,"fontSize":"display"} /--></div>
    <!-- /wp:group -->
    <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
</main>
 <!-- /wp:group -->
    
<!-- wp:template-part {"slug":"footer","tagName":"Footer"} /-->