@use '../abstracts/mixins' as *;

:root {
    // --wvs-tick: url(data:image/svg+xml;utf8,%3Csvg filter='drop-shadow(0px 0px 2px rgb(0 0 0 / .8))' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M4 16L11 23 27 7'/%3E%3C/svg%3E);
    // --wvs-cross: url(data:image/svg+xml;utf8,%3Csvg filter='drop-shadow(0px 0px 5px rgb(255 255 255 / .6))' xmlns='http://www.w3.org/2000/svg' width='72px' height='72px' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23ff0000' stroke-linecap='round' stroke-width='0.6' d='M5 5L19 19M19 5L5 19'/%3E%3C/svg%3E);
    --wvs-single-product-item-width: 1.5rem;
    --wvs-single-product-item-height: 1.5rem;
    --wvs-single-product-item-font-size: var(--wp--preset--font-size--small);
}

.woocommerce-account .wp-block-post-title,
.woocommerce-account main .woocommerce,
.woocommerce-cart .wp-block-post-title,
.woocommerce-cart main .woocommerce,
.woocommerce-checkout .wp-block-post-title,
.woocommerce-checkout main .woocommerce {
    max-width: var(--wp--custom--layout--content);
}

.woocommerce.wc-block-product-results-count .woocommerce-result-count {
    font-size: var(--wp--preset--font-size--small);
}

.wc-block-product-template__responsive.columns-3,
.wc-block-product-template__responsive.columns-4 {
    gap: 0;
    border: 1px solid var(--wp--preset--color--neutral-60);

    li.wc-block-product {
        border-right: 1px solid var(--wp--preset--color--neutral-60);

        &:last-of-type {
            border-right: none;
        }
    }

    @media ($below-mobile) {
        grid-template-columns: 1fr;
    }
}

.wc-block-product {

    .wp-post-image {
        transition: transform 0.3s ease;
    }

    &:hover {

        .wp-post-image {
            transform: translateY(-1rem);
        }
    }

} 

.wc-block-product-template__responsive.columns-3 > li:first-child:nth-last-child(1) {
    grid-column: 2 / 3; /* Ubica el único elemento en la segunda columna */
}

.wp-block-group.woocommerce.product {
    margin-top: 0 !important;
}

.woocommerce table.variations,
.woocommerce table.shop_attributes {
    margin-bottom: 0 !important;
    border: 0;

    th {
        padding: 0;
        width: 50%;
        min-width: 120px;
    }

    tr {
        margin-bottom: 0;
    }
    
    tr td, 
    tr th {
        // padding-bottom: .5rem !important;
        // padding-right: 2rem !important;
    }

    tr th label,
    tr.woocommerce-product-attributes-item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 0 !important;
    }

    tr th label,
    tr.woocommerce-product-attributes-item th {
        font-weight: 400 !important; 
    }

    tr th label,
    tr {

        &.woocommerce-product-attributes-item,
        &[for*="pa_"] {
            &::before {
                display: block;
                width: 1.5rem;
                height: 1.5rem;
            }
        }
        
        &.woocommerce-product-attributes-item--attribute_pa_capacidad, 
        &[for="pa_capacidad"] {
            &::before {
                content: url("./assets/icons/icon-capacity.svg");
            }
        }
        &.woocommerce-product-attributes-item--attribute_pa_color, 
        &[for="pa_color"] {
            &::before {
                content: url("./assets/icons/icon-dropper.svg");
            }
        }
        &.woocommerce-product-attributes-item--attribute_pa_cierre, 
        &[for="pa_cierre"] {
            &::before {
                content: url("./assets/icons/icon-cap.svg");
            }
        }
        &.woocommerce-product-attributes-item--attribute_pa_forma, 
        &[for="pa_forma"] {
            &::before {
                content: url("./assets/icons/icon-shape.svg");
            }
        }
        &.woocommerce-product-attributes-item--weight {
            &::before {
                content: url("./assets/icons/icon-weight.svg");
            }
        }
        &.woocommerce-product-attributes-item--dimensions {
            &::before {
                content: url("./assets/icons/icon-height.svg");
            }
        }
    }

}

.woocommerce table.variations tbody,
.var_info,
.woocommerce table.shop_attributes tbody {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    column-gap: var(--wp--custom--layout--block-gap);
    margin-bottom: 1em;

    th,
    td {
        text-align: left;
        border: 0;
    }

    tr:nth-child(even) {

        th,
        td {
            background: transparent;
        }
    }

    > tr,
    > .var_info__item {
        display: flex;
        flex: 1 1 calc(50% - var(--wp--custom--layout--block-gap)*.5);

        @media ($below-mobile) {
            flex: 1 1 100%;
        }

    }

}
// .woocommerce table.variations tbody {

//     > tr:nth-child(even) {
//         display: none;
//     }

// }

.var_info {

    .var_info__item {
        font-weight: 400 !important; 
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 0 !important;
        line-height: 2em;
        padding-bottom: .5rem !important;

        &::before {
            display: block;
            width: 1.5rem;
            height: 1.5rem;
        }

        &.pa_weight {
            &::before {
                content: url("./assets/icons/icon-weight.svg");
            }
        }

        &.pa_dimensions {
            &::before {
                content: url("./assets/icons/icon-height.svg");
            }
        }
    }

}

.loop-product-attributes {
    gap: .5rem;

    .loop-attribute-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: var(--wp--preset--font-size--small);

        > span {
            
            &::before {
                content: url("./assets/icons/icon-capacity.svg");
                display: block;
                width: 1.5rem;
                height: 1.5rem;
                margin-bottom: 1em;
            }

            &.icon-height::before {
                content: url("./assets/icons/icon-height.svg");
            }

            &.icon-weight::before {
                content: url("./assets/icons/icon-weight.svg");
            }

            &.icon-width::before {
                content: url("./assets/icons/icon-diameter.svg");
            }
            
        }
    }
}

.loop-product-colors {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;

    img {
        width: var(--wp--preset--font-size--heading-5) !important;
        height: var(--wp--preset--font-size--heading-5) !important;
        object-fit: contain;
        border: 1px solid var(--wp--preset--color--neutral-40);
    }
} 
.woocommerce-variation-description {
    display: none;
}
.woocommerce-variation-description,
.title-variation-description {
    font-family: var(--wp--preset--font-family--font-heading);
    font-size: var(--wp--preset--font-size--heading-4);
    margin-top: 0;
    text-transform: uppercase;
}

.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item) {
    box-shadow: 0 0 0 1px var(--wp--preset--color--neutral-40);
    
    &.selected {
        box-shadow: 0 0 0 1px var(--wp--preset--color--primary);
    }
}

.wc-block-product-categories__button {
    border-radius: 99px;
    &:hover {
        cursor: pointer;
    }
}

.variations-table {
    font-size: small;
    border-collapse: collapse;
    width: 100%;
    max-width: unset;

    th, 
    td {
        text-align: center;
        padding: 5px;
        border: 1px solid #ddd;
    }

    .is-numeric {
        text-align: right;
    }

}